#pycharm
.idea/

ARMAPoC/.idea
ARMAPoC/__pycache__

Program/.idea
Program/__pycache__
Program/Sentiment/Datasets/Headlines_2017_12_to_2020_7_USEastern/processed_headlines.csv
Program/SP500_Prices/Sources/Alpha_Vantage_UsEastern/SPY_hourly_2023.csv

#LaTex ignores
Proposal/vscode/
Proposal/build/